@keyframes anim{
    0%, 100% {
     -webkit-transform: translateY(-5px);
             transform: translateY(-5px);
   }
   50% {
     -webkit-transform: translateY(5px);
             transform: translateY(5px);
     
 }
     
 }
 .circle{
     animation-name:anim;
     animation-duration:5s;
     animation-iteration-count:infinite;
 }
 